.haModal {
  .formGroup {
    margin-bottom: 20px;
  }
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  label {
    flex-basis: 30%;
  }
  input {
    flex-basis: 65%;
    font-size: 16px;
    padding: 5px;
    border-style: solid;
    border-color: var(--spice-sidebar);
    background-color: var(--spice-sidebar) !important;
    border-radius: 8px;
  }
  .description {
    font-size: 0.8em;
    color: #666;
    margin-top: 5px;
  }
  .submitContainer {
    text-align: right;
  }
  /* Stolen from https://github.com/spicetify/marketplace/blob/main/src/styles/modules/button.module.scss */
  button {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    border: 0px;
    border-radius: 500px;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow,
      filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding: 0px;
    min-inline-size: 0px;
    align-self: center;

    @media screen and (min-width: 768px) {
      font-size: 1rem;
      line-height: 1.5rem;
      text-transform: none;
      letter-spacing: normal;
    }

    /* From the inner div... */
    position: relative;
    background-color: var(--spice-text);
    color: var(--spice-main);
    border-radius: 500px;
    font-size: inherit;
    padding-block: 12px;
    padding-inline: 32px;

    &:hover {
      transform: scale(1.04);
    }

    &:active {
      background-color: var(--spice-subtext);
      box-shadow: none;
      transform: scale(1);
    }
  }
  .toggleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .toggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    flex-basis: auto;
  }
  .toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--spice-subtext);
    transition: 0.4s;
    border-radius: 34px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #666;
    transition: 0.4s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: var(--spice-text);
  }
  input:checked + .slider:before {
    transform: translateX(26px);
    background-color: var(--spice-subtext);
  }
}
