.ha-settings {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }

  .setting-row {
    margin-bottom: 20px;

    .setting-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      label {
        flex: 0 0 auto;
        margin-right: 10px;
        font-weight: bold;
      }
    }

    .description {
      font-size: 0.9em;
      color: var(--spice-subtext);
    }

    input[type="url"],
    input[type="password"] {
      flex: 1 1 auto;
      width: 100%;
      max-width: 300px;
      padding: 10px;
      border: none;
      background-color: var(--spice-sidebar);
      color: var(--spice-subtext);
      border-radius: 8px;
    }
  }

  .button-row {
    text-align: right;

    button {
      background-color: var(--spice-text);
      color: var(--spice-main);
      border: none;
      padding: 13px 30px;
      border-radius: 500px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        filter: brightness(90%);
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--spice-subtext);
      transition: 0.4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: var(--spice-text);
    }

    input:checked + .slider:before {
      transform: translateX(26px);
      background-color: var(--spice-subtext);
    }
  }
}
